<% content_for :title, "Diarios" %>

<div class="w-full min-h-screen max-w-4xl overflow-x-auto shadow-md rounded-xl p-4 bg-gray-100">

    <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block duration-300" id="notice"><%= notice %></p>
    <% end %>

    <div class="flex justify-between items-center py-4">
        <h1 class="font-bold text-4xl text-gray-700">Diarios</h1>

        <%= link_to new_diario_path, class: "w-10 h-10 flex items-center justify-center rounded-full bg-green-300 hover:bg-green-200 text-white shadow transition" do %>
        <%= heroicon "plus", variant: :outline, options: { class: "w-5 h-5" } %>
        <% end %>
    </div>

    <table id="diarios_table" class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
        <thead>
            <tr class="bg-gray-200 text-left text-gray-600 font-semibold">
                <th class="py-3 px-4">Data</th>
                <th class="py-3 px-4">Dia</th>
                <th class="py-3 px-4 text-center">Pontuação</th>
            </tr>
        </thead>
        <tbody>
            <% @diarios.each do |diario| %>
            <tr class="hover:bg-gray-100 transition cursor-pointer" onclick="window.location='<%= diario_path(diario) %>'">
                <td class="py-2 px-4"><%= l diario.data %></td>
                <td class="py-2 px-4"><%= diario.dia_semana %></td>
                <td class="py-2 px-4 text-center"><%= diario.pontuacao %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>